In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
url="https://www.daraz.pk/laptops/"

In [3]:
req=requests.get(url)

In [4]:
print(req)

<Response [200]>

In [13]:
driver=webdriver.Chrome()
driver.get(url)

In [14]:
soup=BeautifulSoup(driver.page_source,'html.parser')

In [17]:
title=soup.find("div",{"class":"RfADt"}).text.strip()

In [18]:
title

'Samsung Chromebook 500C - Celeron processor - 2gb Ram - 16GB SSD - 11.6" screen - Playstore supported'

In [19]:
title=[]
for tit in soup.find_all("div",{"class":"RfADt"}):
    name=tit.get_text(strip=True)
    title.append(name)

In [21]:
len(title)

40

In [22]:
Price=[]
for pr in soup.find_all("span",{"class":"ooOxS"}):
    price=pr.get_text(strip=True)
    Price.append(price)

In [24]:
len(Price)

40

In [25]:
data={"Names":title,
     "Price":Price}

In [26]:
df=pd.DataFrame(data=data)

In [27]:
df.head()

                                               Names       Price
0  Samsung Chromebook 500C - Celeron processor - ...   Rs. 7,700
1  Toshiba Portégé Z30-A-13E i5-4200U Notebook 33...  Rs. 32,999
2  Samsung Chromebook 500C | 2GB RAM DDR3L | 16GB...   Rs. 7,500
3  Dell Latitude D620 Core 2 Duo 2.4GHz, 2GB RAM,...  Rs. 14,000
4  Acer C738T | Touch Screen Laptop | 32GB Storag...  Rs. 21,500

In [28]:
df.to_csv("Laptop.csv")